#products {
    display: flex;
    margin: 40px 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.productPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    margin: 20px 10px;
    width: 250px;
    height: 300px;
    user-select: none;
}

.productImage {
    width: 100%;
    height: 200px;
}

.pLeft {
    padding-left: 10px;
}

.productPrice {
    font-weight: bold;
    font-size: 24px;
}

.productInfo {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

a {
    text-decoration: none;
    color: black;
}

.buttonInput {
    border: 0;
    cursor: pointer;
    background-color: rgb(190, 190, 190);
}

.buttonInput:hover {
    background-color: gray;
}

.searchBar {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 14px;
    border-style: solid;
    overflow: hidden;
}

#search {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 0;
}

.filterTab {
    left: 0;
    margin-top: 0px;
}

.searchSvg {
    height: 2em;
    width: 2em;
    margin: 0 10px;
}

#filter {
    height: 3em;
    width: 3em;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
}

#filter:hover {
    background-color: rgb(173, 173, 173);
}

#filters {
    margin-top: -53px;
    height: 100vh;
    width: 0px;
    background-color: brown;
    transition: width 0.3s ease;
}

.contentContainer {
    margin-top: 180px;
    display: flex;
    align-items: flex-start;
}

.content {
    width: 100%;
}

.filterClosed{
    position: absolute;
    top: 180px;
}