#products {
    display: flex;
    margin: 40px 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.productPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    margin: 20px 10px;
    width: 250px;
    height: 300px;
    user-select: none;
}

.productImage {
    width: 100%;
    height: 200px;
}

.pLeft {
    padding-left: 10px;
}

.productPrice {
    font-weight: bold;
    font-size: 24px;
}

.productInfo {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

a {
    text-decoration: none;
    color: black;
}

.buttonInput {
    border: 0;
    cursor: pointer;
    background-color: rgb(190, 190, 190);
}

.buttonInput:hover {
    background-color: gray;
}

.searchBar {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 14px;
    border-style: solid;
    overflow: hidden;
}

#search {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 0;
}

.filterTab {
    position: sticky;
    left: 0;
    top: 180px;
    margin-top: 20px;
}

.searchSvg {
    height: 2em;
    width: 2em;
    margin: 0 10px;
}

#filter {
    height: 3em;
    width: 3em;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

#filter:hover {
    background-color: rgb(173, 173, 173);
}

#filters {
    display: flex;
    flex-direction: column;
    height: 67vh;
    width: 0px;
    background-color: rgb(214, 214, 214);
    transition: width 0.3s ease;
    overflow: hidden;
}

.contentContainer {
    display: flex;
    align-items: flex-start;
}

.searchContent {
    width: 100%;
}

.filterClosed{
    position: absolute;
    top: 180px;
}

.checkClass {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 21px;
    margin: 5px 0px;
    padding-left: 30px;
    overflow-y: hidden;
}

.checkClass input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(238, 238, 238);
}

.checkClass:hover input ~ .checkmark {
    background-color: rgb(204, 204, 204);
}

.checkClass input:checked ~ .checkmark {
    background-color: rgb(33, 150, 243);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkClass input:checked ~ .checkmark:after {
    display: block;
}

.checkClass .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.filterCheckItems {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
}

#filterCost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.costInput {
    text-align: center;
}